/* Stiluri pentru întreaga pagină */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.column {
    flex: 1 1 45%;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column h2 {
    color: #333;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
}

.column ul {
    padding: 0 20px;
}

.column ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.bilete, .alte-informatii {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bilete h2, .alte-informatii h2 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

.bilete p, .alte-informatii p {
    line-height: 1.6;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
